.react {
    text-align: center;
    color:darkslategray;
    display: flex;
    align-items: center;
    gap:2.5px;
    position: fixed;
    top:89%;
    right: 10px;

  }
  
  .reactLogo {
    height: 7.5vmin;
    cursor: crosshair;
  }
  
  .react p {
    font-size: 1.5rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    .reactLogo {
      animation: reactLogo-spin infinite 45s linear;
    }
  }
  
  @keyframes reactLogo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }